.footer{
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #1A1A1A;
    border-top: 5px solid;
    border-color:#2e2d2d ;
    justify-content: end;
    align-items: center;
    
}