.main{
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* background-color: #262525; */
    box-sizing: border-box;
    /* padding: 25px 5%; */
    max-width: 1440px;
    margin: 0 auto;
    /* min-height: 100vh; */
}

.main__promo {
    padding: 0;
}

.main__promo h1 {
    font-size: 3.2em;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgb(254, 158, 1);
    color: black;
    font-weight: 400;
    margin: 0;
    max-width: 100%;
}

.social {
    position: fixed;
    left: 50px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    color: white;
    font-size: 24px;
}

.search{
    /* background-color: #1A1A1A; */
    box-sizing: border-box;
    /* padding: 35px 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 12px;
    /* max-width: 540px; */
    margin: 0 auto;
    gap: 30px;
    
    /* margin: 25px 0 0 0; */
    /* max-width: 620px; */
    /* margin: 0 auto 0 0; */
    /* padding: 30px 25%; */
}

.search__text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.search h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    color: white;
    max-width: 320px;
    text-align: left;
    line-height: 1.5;
}

.search h2 span {
    color: #FE9E01;
}

.search__text-wrapper p {
    font-size: 14px;
    color: white;
    font-weight: 500;
    line-height: 1;
    font-family: "Jura", sans-serif;
    margin: 0;
}

.search__form{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    width: 100%;
    max-width: 950px;
    /* max-width: 540px; */
}

.search__input{
    background-color: #2E2D2D;
    border: 2px solid #B4B4B4;
    border-radius: 12px;
    width: 100%;
    outline: none;
    color: white;
    box-sizing: border-box;
    padding: 15px 15px;
}

.search__form button {
    width: 50px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    color: black;
}

.intro__cont{
    /* padding: 35px 0; */
    /* padding: 30px 25%; */
}

.intro__cont h2 {
    font-weight: 300;
    text-align: left;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 15px 0;

}

.intro__cont h2 p {
    font-family: "Jura", sans-serif;
    font-weight: 400;
    margin: 0;
    
}

.intro__cont h2 p:nth-of-type(2n){
    translate: -6px;
}

.intro__cont h2 p::first-letter {
    color: #FE9E01;
}

.intro__cont-popular {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #1A1A1A;
}

.intro__cont-popular div {
    width: 100%;
}

.intro__cont-popular::after {
    position: absolute;
    /* top: 15px; */
    /* left: 15px; */
    content: "Vinyl Vulture";
    font-family: "Jura", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgba(26, 26, 26, 0.8);
    padding: 13px;
    text-align: center;
    box-sizing: border-box;
}

.intro__cont-popular-cover {
    width: 100%;
    object-fit: cover;
}

.intro__cont-popular-albums-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: auto;
    color: white;
    box-sizing: border-box;
    padding: 15px 10px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    /* background-color: #1A1A1A; */
}

.intro__cont-popular-albums-wrapper::-webkit-scrollbar {
    width: 5px;
    /* background-color: #B4B4B4; */
    /* background-color: #1A1A1A; */
    background-color: #B4B4B4;
    border-radius: 5px;
}

.intro__cont-popular-albums-wrapper::-webkit-scrollbar-thumb {
    width: 5px;
    /* background-color: #FE9E01; */
    /* background-color: #B4B4B4; */
    background-color: white;
    border-radius: 3px;
}

.intro__cont-popular-navigation-wrapper {
    position: relative;
    display: flex;
}

.intro__cont-popular-navigation-wrapper-buttons {
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: space-around;
}

.intro__cont-popular-navigation-wrapper-buttons button {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.intro__cont-popular-albums-wrapper h3, .intro__cont-popular-albums-wrapper h2 {
    box-sizing: border-box;
    padding: 0 30px 0 15px;
    text-align: left;
    margin: 0;
    font-weight: 400;
}

.intro__cont-popular-albums-wrapper h2 {
    font-size: 32px;
}

.intro__cont-popular-albums-wrapper-ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}



.intro__cont-popular-albums-wrapper-ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    box-sizing: border-box;
    padding: 10px 30px 10px 15px;
    color: #B4B4B4;
    transition: all 0.25s ease-in-out;
    /* border-bottom: 2px solid #B4B4B4; */
}

.intro__cont-popular-albums-wrapper-ul li:hover {
    background-color:#FE9E01;
    color: black;
    cursor: pointer;
}

.intro__cont-popular-albums-wrapper-ul li h4 {
    font-weight: 400;
    margin: 0;
}

.intro__cont-popular-btn {
    background-color: #1A1A1A;
    /* position: absolute;
    top: 0; */
}

.intro__cont-popular-albs {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 15px;
    overflow: auto;
    scroll-behavior: smooth;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin: 0; */
/* 
    gap: 15px; */
}

.intro__cont-popular-albs::-webkit-scrollbar {
    height: 0;
}

.intro__cont-popular-albs li {
    /* width: 280px;
    aspect-ratio: 3/4;
    border-radius: 9px;
    background-size: contain; */
    max-width: 210px;
    aspect-ratio: 1 / 1;
    border-radius: 9px;
    background-size: cover;
    width: 100%;
    flex-shrink: 0;
}

.intro__cont-popular-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    
}

.progerss-bar-wrapper {
    width: 100%;
    height: 5px;
    background-color: rgb(180, 180, 180);
    /* display: flex; */
    max-width: 320px;
    border-radius: 9px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.progress-bar {
    height: 5px;
    background-color: #FE9E01;
    transition: all 0.25s ease-in-out;
    border-radius: 9px;
}


.genre__cont{
 display: flex;
 gap: 4px;
 align-items: stretch;
 
}

.genre__bigd{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color:#1A1A1A;
    border-radius: 0px;
    /* background-image: url(./assets/masterofreality.jpg) ; */
    aspect-ratio: 0.5;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    /* padding: 0; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    
}

.genre__littled{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    /* height: 100%; */
    gap: 5px;
    align-items: stretch;
    
    
    
}

.genre__insaded{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-color:#1A1A1A;
    border-radius: 0px;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border-color:#1A1A1A;
    width: 100%;
    

}

.genre__insaded-txt1{
    position: relative;
    z-index: 1;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: "Jura", sans-serif;
}

.genre__insaded-link {
    /* position: absolute;
    bottom: 0;
    left: 15px; */
    z-index: 1;
    font-size: 20px;
    /* width: 100%; */
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    /* background-color: rgba(255, 255, 255, 0.25); */
    box-sizing: border-box;
    padding: 15px 15px;
    border-radius: 20px;
    backdrop-filter: blur(9px);
    line-height: 1;
    border: 2px solid white;
    font-family: "Jura", sans-serif;
    letter-spacing: 3px;
}

/* .genre__insaded-link1 {
    position: relative;
    z-index: 1;
    font-size: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    box-sizing: border-box;
    padding: 15px 15px;
    border-radius: 20px;
    line-height: 1;
    border: 2px solid white;
    font-family: "Jura", sans-serif;
    letter-spacing: 3px;
    margin: 4px 0px;
    backdrop-filter: blur(9px);
}


.genre__insaded-link2 {
    position: relative;
    z-index: 1;
    font-size: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    box-sizing: border-box;
    padding: 15px 15px;
    border-radius: 20px;
    line-height: 1;
    border: 2px solid white;
    font-family: "Jura", sans-serif;
    letter-spacing: 3px;
    margin: 4px 0px;
    backdrop-filter: blur(9px);
}


.genre__insaded-link3 {
    position: relative;
    z-index: 1;
    font-size: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    box-sizing: border-box;
    padding: 15px 15px;
    border-radius: 20px;
    line-height: 1;
    border: 2px solid white;
    font-family: "Jura", sans-serif;
    letter-spacing: 3px;
    margin: 4px 0px;
    backdrop-filter: blur(9px);
}


.genre__insaded-link4 {
    position: relative;
    z-index: 1;
    font-size: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    box-sizing: border-box;
    padding: 15px 15px;
    border-radius: 20px;
    line-height: 1;
    border: 2px solid white;
    font-family: "Jura", sans-serif;
    letter-spacing: 3px;
    margin: 4px 0px;
    backdrop-filter: blur(9px);
} */


.genre__insaded-txt2{
    position: relative;
    z-index: 1;
    font-size: 64px;
    letter-spacing: 3px;
    font-family: "Jura", sans-serif;
}

.genre__insaded-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.main__cont{
    background-color:#1A1A1A;
}

.genre__ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    width: 100%;
    /* gap: 15px; */
    min-height: 360px;
}

.genre__bigd-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;


}

.index__style{
    color: #FE9E01;
}

.index__div{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 35px;
    font-weight: 100;
}

.genre__li{
 border-right: 1px solid #FE9E01;
}

@media screen and (max-width: 1439px) {
    .main {
        max-width: 1024px;
    }
    .search__form{
        max-width: 540px;
    }
}

