.main{
    height: 100vh;
    width: 100%;
    background-color: #2e2d2d;
    box-sizing: border-box;
}

/* .main::-webkit-scrollbar,.main::-webkit-scrollbar-track,.main::-webkit-scrollbar-thumb{
    width: 0px;
    display: none;

} */